
.row > .col-lg-4{
    background-size: cover;
    background-position: center center;
}
/*CAROUSEL*/
.carousel-inner > .carousel-item{
    min-height: 95vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.carousel-item>.carousel-caption>h1{
    font-size: 3.5rem;
}

@media only screen and (max-width: 1000px) {
    .row > .col-lg-4{
        min-height: 30vh;
        background-size: cover;
        background-position: center center;
    }
}

