.navbar{
    background: rgba(20,20,20,0.70);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}
/*CAROUSEL*/
.carousel-inner > .carousel-item{
    min-height: 85vh;
    background-size: cover;
    background-position: center center;
}

.carousel-item>.carousel-caption>h1{
    font-size: 3.5rem;
}
.gradient-slide {
    background: rgba(150,150,150,0.30);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border-radius: 3.5rem;
}

.gradient-slide>h1{
    font-size: 3.5rem;
}
